nav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(141,9,255);
    background: linear-gradient(149deg, rgba(141,9,255,1) 7%, rgba(0,212,255,1) 100%);
    overflow-x: hidden;
    padding-top: 20px;
  
  }


.new-button{
    padding: 10px;
    background: #0990ff;
    background: linear-gradient(149deg, #0990ff 7%, #e000ff 100%);
   border-radius: 10px;
color: white;
}