nav {
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background: #b9c0e4;
    background: linear-gradient( #b5c2e6 8%, #abc7eb 13%, #a6caed 16%, #e8a7ce 34%, #d5b8d9 56%, #c784e5 76%, #deb5d4 94%); */
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 1%;
    text-align: center;
     font-family: 'Merienda', cursive;
   background: #da6be992;
  }
  nav a:hover {
    color: #D77A9A;
  }

.new-button{
  margin-top: 20%; 
  padding: 10px;
  background: #0990ff;
  background: linear-gradient(149deg, #0990ff 7%, #e000ff 100%);
  border-radius: 10px;
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 18px;
  margin: 10%;
}

a:link {
  color: #ffffff;
}  
  
a:visited {
  color: #000000;
}

img{
  height: 50px;
}


.nav-img{
opacity: .50;
}