.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 90px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;/* Stay at the right */
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: #ac7ad7;
    display: block;
    font-family: 'Merienda', cursive;
     background: #da6be992;
  }
  
  
  .color{
    color: #f1f1f1;
  }
  .color:hover {
    color: #D77A9A;
  }