body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #98d1ff;
  background: linear-gradient(149deg, #98d1ff 7%, #f18eff 100%);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



table {
  width: 50%;
  margin: auto;
 
}

td {
  text-align: center;
  font-size: 18px;
  
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
  
}

tbody tr:nth-child(even) {
  background: #be9ee9;
  
}

th {
  font-size: 40px;
  
  padding-bottom: 10px;
  font-family: 'Italiana', serif;
  text-decoration: underline;
}

.glow {
  font-size: 70px;
  color: #8a68ef;
  text-align: center;
  
}






.song-title{
 color: #be9ee9;
text-align: center;
font-size: 30px;
font-family: 'Henny Penny', cursive;
}

